<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
 
<p>
    <strong>Comment:</strong>
    <%= comment.body %><br>
    <%= comment.created_at.localtime("-04:00").strftime("Created at %I:%M%p on %m/%d/%Y") %>
</p>