<div class="homepage">
<h1>Welcome to the Blog!</h1>
<%= link_to 'My Blog', {controller: 'articles'}, class: "unibutton" %>

<p>
    <% if current_user %>
        Logged in <% current_user.name %>
        <%= link_to "Log Out", logout_path, class: "unibutton" %>
    <% else %>
        <%= link_to "Sign Up", signup_path, class: "unibutton", name: "signup" %>
        <%= link_to "Log In", login_path, class: "unibutton" %>
    <% end %>
</p>
</div>